.banner__home{
  @apply w-[100%]
}

.sellers{
  @apply w-10/12 m-auto mt-[100px]
}
.sellers h2{
  @apply text-center text-[20px] font-bold	mb-[52px]
}
.list__product__sellers{
  @apply grid grid-cols-3 gap-[30px]
}
.item__sellers {
  
}
.img__item__sellers{
  @apply w-[338px] h-[225px]
}
.item__sellers h4{
  @apply mt-[27px] mb-[12px] text-[18px] font-sans

}
.item__sellers p{
  @apply text-[16px] font-sans

}

.post__home{
  @apply w-10/12 m-auto mt-[76px]
}

.list__post{
  @apply grid grid-cols-2 gap-[30px]
}
.item__post p{
  @apply  text-[16px] font-serif
  mt-[20px] w-[583px] mb-[18px] leading-loose


}
.btn__post__home{
  @apply bg-[#273746] py-[2px] px-[30px] text-[#fff] rounded


}
.recommended__home{
  @apply w-10/12 m-auto mt-[100px]
}
.recommended__home h2{
  @apply text-[20px] mb-[50px] font-bold	font-sans

}