.container{
    @apply w-[1440px] text-center mx-auto;
}
.form_login{
    @apply bg-white w-[1440px] rounded px-8 pt-6 pb-8 mb-20 m-auto;
}
.input__email{
    @apply border-b-2 border-black w-[500px] py-2 px-3;
}
.input__pass{
    @apply border-b-2 border-black rounded w-[500px] py-2 px-3;
}
.form_btn{
    @apply flex items-center justify-center;
}
.btn__login{
    @apply bg-black hover:bg-yellow-800 text-white font-bold py-2 px-4 rounded;
}
.forgotpass{
    @apply inline-block align-baseline font-bold text-sm text-black hover:text-yellow-800 ml-[300px];
}
.btn__signup{
    @apply bg-red-700 text-white h-[30px] ml-5 px-4 hover:bg-yellow-600;
}
.p__text{
    @apply text-white text-center text-xl;
}
.ruler{
    @apply border-black bg-black w-[1440px] h-[80px] flex items-center justify-center text-center;
}