.container{
    @apply w-[1440px] text-center mx-auto text-center;
}
.form_signup{
    @apply bg-white w-[1440px] rounded px-8 pt-6 pb-8 mb-20 m-auto;
}
.input_form{
    @apply border-b-2 border-black w-[500px] py-2 px-3;
}
.input_img{
    @apply border-b-2 border-black rounded w-[500px] py-2 px-3;
}
.btn_create{
    @apply bg-black hover:bg-yellow-800 text-white font-bold py-2 px-4 rounded ;
}
.form__btn{
    @apply flex items-center justify-center mr-[360px] mt-[50px];
}
