<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="productsPage.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <main class="">
        <div class="container grid grid-cols-[250px_auto] w-[1440px] mx-auto">
            <div class="describe m-8">
                <div class="products__menu">
                    <ul>
                        <li><a href="#">menu</a></li>
                        <li><a href="#">menu</a></li>
                        <li><a href="#">menu</a></li>
                    </ul>
                </div>
                <hr>
                <div class="products__size">
                    <button>38</button>
                    <button>39</button>
                    <button>40</button>
                    <button>41</button>
                    <button>42</button>
                    <button>43</button>
                </div>
            </div>
            <div class="listProducts m-8">
                <div class="products__row grid grid-cols-4 gap-12">
                    <div class="product">
                        <a href="">
                            <div class="imgProduct w-[215px] w-[215px]">
                                <img src="./img/pro1.jpg" alt="">
                            </div>
                            <div class="infoProduct">
                                <h3 class="text-[15px] py-4 font-normal">550 UNC White University Blue</h3>
                                <h6 class="font-normal pb-3 text-[#424949]">Main shose</h6>
                                <h6 class="font-normal pb-3 text-[#424949]">2 color</h6>
                                <h6 class="text-red-600 text-[16px] font-normal">$99.99</h6>
                            </div>
                        </a>
                    </div>
                    <div class="product">
                        <a href="">
                            <div class="imgProduct w-[215px]">
                                <img src="./img/pro1.jpg" alt="">
                            </div>
                            <div class="infoProduct">
                                <h3 class="text-[15px] py-4 font-normal">550 UNC White University Blue</h3>
                                <h6 class="font-normal pb-3 text-[#424949]">Main shose</h6>
                                <h6 class="font-normal pb-3 text-[#424949]">2 color</h6>
                                <h6 class="text-red-600 text-[16px] font-normal">$99.99</h6>
                            </div>
                        </a>
                    </div>
                    <div class="product">
                        <a href="">
                            <div class="imgProduct w-[215px]">
                                <img src="./img/pro1.jpg" alt="">
                            </div>
                            <div class="infoProduct">
                                <h3 class="text-[15px] py-4 font-normal">550 UNC White University Blue</h3>
                                <h6 class="font-normal pb-3 text-[#424949]">Main shose</h6>
                                <h6 class="font-normal pb-3 text-[#424949]">2 color</h6>
                                <h6 class="text-red-600 text-[16px] font-normal">$99.99</h6>
                            </div>
                        </a>
                    </div>
                    <div class="product">
                        <a href="">
                            <div class="imgProduct w-[215px]">
                                <img src="./img/pro1.jpg" alt="">
                            </div>
                            <div class="infoProduct">
                                <h3 class="text-[15px] py-4 font-normal">550 UNC White University Blue</h3>
                                <h6 class="font-normal pb-3 text-[#424949]">Main shose</h6>
                                <h6 class="font-normal pb-3 text-[#424949]">2 color</h6>
                                <h6 class="text-red-600 text-[16px] font-normal">$99.99</h6>
                            </div>
                        </a>
                    </div>
                    <div class="product">
                        <a href="">
                            <div class="imgProduct w-[215px]">
                                <img src="./img/pro1.jpg" alt="">
                            </div>
                            <div class="infoProduct">
                                <h3 class="text-[15px] py-4 font-normal">550 UNC White University Blue</h3>
                                <h6 class="font-normal pb-3 text-[#424949]">Main shose</h6>
                                <h6 class="font-normal pb-3 text-[#424949]">2 color</h6>
                                <h6 class="text-red-600 text-[16px] font-normal">$99.99</h6>
                            </div>
                        </a>
                    </div>
                    <div class="product">
                        <a href="">
                            <div class="imgProduct w-[215px]">
                                <img src="./img/pro1.jpg" alt="">
                            </div>
                            <div class="infoProduct">
                                <h3 class="text-[15px] py-4 font-normal">550 UNC White University Blue</h3>
                                <h6 class="font-normal pb-3 text-[#424949]">Main shose</h6>
                                <h6 class="font-normal pb-3 text-[#424949]">2 color</h6>
                                <h6 class="text-red-600 text-[16px] font-normal">$99.99</h6>
                            </div>
                        </a>
                    </div>
                    <div class="product">
                        <a href="">
                            <div class="imgProduct w-[215px]">
                                <img src="./img/pro1.jpg" alt="">
                            </div>
                            <div class="infoProduct">
                                <h3 class="text-[15px] py-4 font-normal">550 UNC White University Blue</h3>
                                <h6 class="font-normal pb-3 text-[#424949]">Main shose</h6>
                                <h6 class="font-normal pb-3 text-[#424949]">2 color</h6>
                                <h6 class="text-red-600 text-[16px] font-normal">$99.99</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn text-center my-12">
            <button class="bg-[#212F3C] px-20 py-3 text-[#fff] text-[15px]">See more</button>
        </div>
    </main>
</body>

</html>